/DerivedDataCache
/Intermediate
/Saved
/.vs
/Binaries
/Content/Collections
/Content/Developers
/Content/Meadow_Environment_Set
/Content/NEXON_Lv1_Gothic_total
/Content/ParagonAurora
/Content/ParagonLtBelica
/Content/ParagonSevarog
/Content/PlantsPack
